<p>&nbsp &nbsp Soon you will see rendering with component here</p>
<%= react_component 'Lifts', {data: @lifts,message: "Finally my component is here ignore above message"}%>
<%#= react_component 'Buton'%>
<%= react_component 'Main'%>
<%= react_component 'MainCard'%>