  <div class="container center">
    <div class="jumbotron inwv">
      <h1>Inno-Wave</h1>
      <p>To know more about Inno-Wave, please LogIn</p>
      <%= link_to 'Sign Up', "#", class: "btn btn-primary btn-lg btn-xlg", role:"button"%>
    </div>
  </div>