// .trial{
//     height: auto;
//     width: auto;
//     position: absolute;
    
// }



// .signup_popup{
//     height: 400px;
//     width: 600px;
//     position: relative;
//     z-index: 100;
//     top: 10px;
//     margin-left: 500px;
//     right: 100px;
//     //box-shadow: 10px 10px 5px #888888;
//     border: 1px groove #888888;
// }

.error_state,.success_state {
    width: 500px;
    height: auto;
    margin-left: 250px;
}