<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy <%= link_to "Game",root_path%>
        </small>
        <ul>
            <li></li>
        </ul>
    </footer>
</div>