<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy <%= link_to "Game",root_path%>
        </small>
        <nav>
            <ul>
                <li>About</li>
            </ul>
        </nav>
    </footer>
</div>